<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
      <div class="ion-text-center">
    {{ 'tab4header' | translate }}
    </div>
  </ion-title>
 
  <ion-buttons slot="end" (click)="chgL()">
      <ion-button *ngIf="isEn" >
          <ion-img src="assets/langMY.png"></ion-img>
      </ion-button>
      <ion-button *ngIf="!isEn" >
          <ion-img src="assets/langEN.png"></ion-img>
        </ion-button>
    </ion-buttons>

</ion-toolbar>
</ion-header>

<ion-content>
  <hr>
    <ion-img src="assets/logoMQA.png"></ion-img>
    
  <ion-list>        
    <ion-card > 
      <ion-card-content>
        <ion-grid>              
          <ion-row>
            <ion-col size="3">               
                   <ion-text>{{ 'tab4item1' | translate }} </ion-text> 
            </ion-col> 
            <ion-col size="9">            
                <ion-text>MERCU MQA <br>
                No. 3539,Jalan Teknokrat 7, Cyber 5, 63000 Cyberjaya, Selangor Darul Ehsan <br>MALAYSIA</ion-text>                                   
            </ion-col>         
          </ion-row>
       
          <ion-row>
            <ion-col size="3">               
                   <ion-text>{{ 'tab4item2' | translate }} </ion-text> 
            </ion-col> 
            <ion-col size="9">            
                 <ion-text>03-8688 1900</ion-text>                                   
            </ion-col>         
          </ion-row>

          <ion-row>
            <ion-col size="3">               
                   <ion-text>{{ 'tab4item3' | translate }} </ion-text> 
            </ion-col> 
            <ion-col size="9">            
                 <ion-text>03-8688 1911</ion-text>                                   
            </ion-col>         
          </ion-row>

          <ion-row>
            <ion-col size="3">               
                   <ion-text>{{ 'tab4item4' | translate }} </ion-text> 
            </ion-col> 
            <ion-col size="9">            
                 <ion-text>mqr@mqa.gov.my</ion-text>                                   
            </ion-col>         
          </ion-row>
       
          <ion-row>
            <ion-col size="3">               
                   <ion-text>{{ 'tab4item5' | translate }} </ion-text> 
            </ion-col> 
            <ion-col size="9">            
                 <ion-text><a href="#" (click)="goToBrowser()">www2.mqa.gov.my/mqr</a></ion-text>                                   
            </ion-col>         
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>     
      <iframe class="ion-margin center" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.653466410926!2d101.65455191475678!3d2.9156604978763823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb701e6194b89%3A0x5643eb4ea9cecb0f!2sMERCU+MQA!5e0!3m2!1sen!2smy!4v1530507508946"  frameborder="0" allowfullscreen></iframe>
    </ion-list>
    
     
    

    <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button color="secondary">
          <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button (click)="chgL('en')">EN</ion-fab-button>
            <ion-fab-button (click)="chgL('my')">MY</ion-fab-button>
        </ion-fab-list>
      </ion-fab> -->
      
</ion-content>

