<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="md-search"></ion-icon>
      <ion-label>{{ 'tabSearch' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="md-information-circle"></ion-icon>
      <ion-label>{{ 'tabInfo' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="md-book"></ion-icon>
      <ion-label>{{ 'tabGlo' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="md-contacts"></ion-icon>
      <ion-label>{{ 'tabContact' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
