<ion-header>
    <ion-toolbar color="primary">
    <ion-title>
        <div class="ion-text-center">
      {{ 'tab2header' | translate }}
      </div>
    </ion-title>

    <ion-buttons slot="end" (click)="chgL()">
      <ion-button *ngIf="isEn" >
          <ion-img src="assets/langMY.png"></ion-img>
      </ion-button>
      <ion-button *ngIf="!isEn" >
          <ion-img src="assets/langEN.png" ></ion-img>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

<ion-card>
      <ion-card-header>
        <ion-card-title color="primary">{{ 'tab2item1' | translate }} 
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
          {{ 'tab2info1' | translate }} 
        </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">{{ 'tab2item2' | translate }} 
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
          {{ 'tab2info2' | translate }} 
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">{{ 'tab2item3' | translate }} 
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
          {{ 'tab2info3' | translate }} 
        <br><br>
        {{ 'tab2info3lampiran' | translate }} :- <a (click)="openPDF()">{{ 'tab2info3mqf' | translate }}</a>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">{{ 'tab2item4' | translate }} 
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        {{ 'tab2info4' | translate }} 
      
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">{{ 'tab2item5' | translate }} 
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        {{ 'tab2info5' | translate }} 
      </ion-card-content>
    </ion-card>

  </ion-list>
 

  <!--- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <ion-fab-button (click)="chgL('en')">EN</ion-fab-button>
        <ion-fab-button (click)="chgL('my')">MY</ion-fab-button>
    </ion-fab-list>
  </ion-fab>--->
    
</ion-content>
