<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    <div class="ion-text-center">
      {{ 'tab1header' | translate }}
    </div>
    </ion-title>
    <ion-buttons slot="end" (click)="chgL()">
        <ion-button *ngIf="isEn" >
            <ion-img src="assets/langMY.png"  ></ion-img>
        </ion-button>
        <ion-button *ngIf="!isEn" >
            <ion-img src="assets/langEN.png" ></ion-img>
          </ion-button>
      </ion-buttons>

  </ion-toolbar>
 
</ion-header>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input placeholder="{{ 'tab1item1' | translate }} " clearInput [(ngModel)]="ppt"></ion-input> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="{{ 'tab1item2' | translate }}" clearInput [(ngModel)]="namaprogram"></ion-input> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="{{ 'tab1item3' | translate }}" clearInput [(ngModel)]="noruja"></ion-input> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" (click)="doSearch()"><b>{{ 'tab1search' | translate }}</b></ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-center">
            <ion-text> {{ 'tab1note' | translate }} <a href="#" (click)="goToBrowser()">www2.mqa.gov.my/mqr</a></ion-text>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>
    <ion-list>
      <ion-grid>
        <ion-row>
            <ion-col *ngIf="dataDocs?.length !== 0" class="ion-text-center">
              <ion-label> {{ 'tab1TotalRecord' | translate }} <b>{{ dataDocs?.length }}</b></ion-label>
            </ion-col>
              <ion-col *ngIf="norecord" class="ion-text-center">
                <ion-label> {{ 'tab1NoRecord' | translate }} </ion-label>
            </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-card *ngFor="let item of displayData">   
      <!-- <ion-card *ngFor="let item of dataDocs"> -->
        <ion-card-header>
      <!-- <ion-card-subtitle>{{ item.article_type }}</ion-card-subtitle>
      <ion-card-title>{{ item.title_display }}</ion-card-title> -->
        </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                  <ion-col size="5">               
                    <ion-text><b>{{ 'tab1PPTName' | translate }} </b> </ion-text> 
                  </ion-col> 
                  <ion-col size="1">               
                      <ion-text><b>:</b></ion-text> 
                    </ion-col> 
                  <ion-col size="6">               
                    <ion-text>{{ item.namaiptsbm }}</ion-text> 
                  </ion-col>        
              </ion-row>
              <ion-row>
                  <ion-col size="5">               
                    <ion-text><b>{{ 'tab1ProgRef' | translate }} </b> </ion-text> 
                  </ion-col> 
                  <ion-col size="1">               
                      <ion-text><b>:</b></ion-text> 
                    </ion-col> 
                  <ion-col size="6">               
                    <ion-text> {{ item.norujaidakrkp }}</ion-text> 
                  </ion-col>        
              </ion-row>
              <ion-row>
                  <ion-col size="5">               
                    <ion-text><b>{{ 'tab1ProgName' | translate }} </b> </ion-text> 
                  </ion-col>
                  <ion-col size="1">               
                      <ion-text><b>:</b></ion-text> 
                    </ion-col>  
                  <ion-col size="6">               
                    <ion-text> {{ item.kpbmmqr }}</ion-text> 
                  </ion-col>        
              </ion-row>
              <ion-row>
                  <ion-col size="5">               
                    <ion-text><b>{{ 'tab1AccrDate' | translate }} </b> </ion-text> 
                  </ion-col> 
                  <ion-col size="1">               
                      <ion-text><b>:</b></ion-text> 
                    </ion-col> 
                    <ion-col size="6">
                        <ion-text *ngIf="item.tarikhsahmula && !item.tarikhsahtamat">{{ 'tab1Tarikh' | translate }} {{ item.tarikhsahmula }}</ion-text>
                        <ion-text *ngIf="item.tarikhsahmula && item.tarikhsahtamat">{{ item.tarikhsahmula }} - {{ item.tarikhsahtamat }}</ion-text>
                        <ion-text *ngIf="!item.tarikhsahmula && !item.tarikhsahtamat">Deemed</ion-text>
                    </ion-col>       
              </ion-row>
              <ion-row>
                  <ion-col size="5">               
                    <ion-text><b>{{ 'tab1Level' | translate }} </b> </ion-text> 
                  </ion-col> 
                  <ion-col size="1">               
                      <ion-text><b>:</b></ion-text> 
                    </ion-col> 
                  <ion-col size="6">               
                    <ion-text> {{ item.tahap }}</ion-text> 
                  </ion-col>        
              </ion-row>
              </ion-grid>
            <!-- Nama PPT :  -->
          </ion-card-content>
      </ion-card>
    </ion-list>
    <div *ngIf="dataDocs != 0"> 
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full"  shape="round" (click)="prev()" [disabled]="starNo == 0" >
                  <ion-icon name="rewind"></ion-icon> {{ 'tab1Prev' | translate }} 
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="full"  shape="round" (click)="next()" [disabled]="endNo >= dataDocs?.length">
                  {{ 'tab1Next' | translate }} <ion-icon name="fastforward"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-button expand="full"  shape="round" (click)="scrollToTop()">
                  {{ 'tab1GoToTop' | translate }} 
              </ion-button>
          </ion-col>
      </ion-row>
      </ion-grid>
    </div>
      <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button color="secondary">
          <ion-icon name="settings"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button (click)="chgL('en')">EN</ion-fab-button>
            <ion-fab-button (click)="chgL('my')">MY</ion-fab-button>
        </ion-fab-list>
      </ion-fab> -->
    </ion-content>
 