<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <div class="ion-text-center">
        {{ 'tab3header' | translate }}
    </div>
    </ion-title>
    <ion-buttons slot="end" (click)="chgL()">
        <ion-button *ngIf="isEn" >
            <ion-img src="assets/langMY.png"></ion-img>
        </ion-button>
        <ion-button *ngIf="!isEn" >
            <ion-img src="assets/langEN.png"></ion-img>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      
    <ion-card-header>
      <ion-card-title color="primary">{{ 'tab3header1' | translate }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      {{ 'tab3content1' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">{{ 'tab3header2' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ 'tab3content2' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">{{ 'tab3header3' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ 'tab3content3' | translate }}
    </ion-card-content>
  </ion-card>

  <!-- <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <ion-fab-button (click)="chgL('en')">EN</ion-fab-button>
        <ion-fab-button (click)="chgL('my')">MY</ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

   

    
</ion-content>
